//Author: Julie Ha, Alex Feng
head
    meta(charset='utf-8')
    title Sign In
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap' rel='stylesheet')
.main-body
  h1 Media Roulette
  .signup-body
    h1 Sign Up
    .signup-text
      form(name='sign-up' action='/welcome/signUp' method='POST')
        .fname
          span.label First Name
          input(type='text' name='firstName')
        .lname
          span.label Last Name
          input(type='text' name='lastName')
        .address
          span.label Address Line
          input(type='text' name='addressLine')
        .city
          span.label City
          input(type='text' name='city')
        .state
          span.label State
          input(type='text' name='state')
        .zip
          span.label Zip Code
          input(type='text' name='zipCode')
        .email1
          span.label Email Address
          input(type='text' name='email')
        .password1
          span.label Password
          input(type='password' name='password')
        .submit1
          input(type='submit' value='submit')
      img#signup-pic(src='/signup-pic.svg' alt='')




    // Since there are multiple fields in the sign up form, we can show either a list of errors (hence the for loop) or just a single error
    if renderError
        if errorCount > 1
            ul
                for e in error
                    p= e
        else
            p= error

